<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Travel App</title>
  </head>
  <body>
    <div id="app">
      <div class="image">
      <img class="placeImage" src="./src/client/styles/ballons2.jpg" >
    </div>
    <div class="inputInfo">
      <h1>Where would you like to go?</h1> 
      <input
        type="text"
        id="destination"
        placeholder="I would like to travel to...">
      <input type="date" placeholder= "2017-06-01" id="inputDate" /> 
      <button id="clickSearch" type="submit">GO</button>
    </div>
   
        <div class="currentWeatherSection">
        <img src="" alt="" id="weatherCurrentIcon" />
        <div id="weatherDescription"></div>
      </div>
        <div id="entryHolder">
          <div id="min_temp"></div>
          <div id="max_temp"></div>
          <div id="currentTemp"></div>
          <div id="date"></div>
          <div id="city"></div>
          <div id="imagePlace"></div>
        </div>

       <div class="container"></div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
