<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Travel App</title>
  </head>
  <body>
    <div id="app">
      <div id="title">where would you travel next?</div>

      <form onsubmit="Client.generateButtonClick(event)">
        <textarea
          type="text"
          id="destination"
          placeholder="I would like to travel to..."
        >
        </textarea>
        <input type="inputDate" id="inputDate" />

        <button id="clickSearch" type="submit">Generate</button>
      </form>

      <div class="holder entry">
        <div class="icon" id="icon">
          <!-- <img src="../styles/svg/unknown.svg" alt="nothing yet" /> -->
        </div>
        <div class="title"></div>
        <div id="entryHolder">
          <!-- <div id="date"></div>
          <div id="temp"></div>
          <div id="status"></div>
          <div id="location"></div>
          <div id="content"></div> -->
        </div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
