*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(41, 128, 185),
    rgb(44, 62, 80)
  );
  font-family: "Noto Sans HK", sans-serif;
}

#app {
  text-align: center;
  background-color: whitesmoke;
  width: 600px;
  height: 630px;
  position: absolute;
  top: 52%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 66px;

}
.inputInfo {
background-color: black;
}
textarea {
  background-color: bisque;
}
#entryHolder {
  display: flex;
  flex-direction: column;
}
#weatherCurrentIcon {
  width: 300px;


}

.container {
  // display: grid;
  // grid-template-columns: auto auto auto auto;
  // grid-template-rows: 150px 150px 150px;
  // background-color: black;
  // justify-content: space-evenly;

  display: grid;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  background-color: #2196F3;
  padding: 22px;


  // grid-template-columns: auto auto auto;
  // grid-template-rows: -1px 30px 30px 30px;
  // background-color: black;
  // justify-content: space-evenly;
  // grid-gap: 10px;
  
  
}

.divSection {
  width: 100px;
  height: 100px;
  background-color: aqua;

}
.divSectionTemperature {
  background-color:white
}
#iconFuture {
  width: 20px;
}