*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(41, 128, 185),
    rgb(44, 62, 80)
  );
  font-family: "Noto Sans HK", sans-serif;
}

#app {
  text-align: center;
  background-color: whitesmoke;
  width: 600px;
  height: 630px;
  position: absolute;
  top: 52%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 66px;

}
.inputInfo {
background-color: black;
}
textarea {
  background-color: bisque;
}
#entryHolder {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 60px;
}