body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(41, 128, 185),
    rgb(44, 62, 80)
  );
  font-family: "Noto Sans HK", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: whitesmoke;
  width: 900px;
}

.placeImage {
  width: 900px;
  height: 50vh;
}
.inputInfo {
  display: flex;
  flex-direction: column;

}

#destination {
  border-radius: 5px;
  background-color:silver;
  width: 35%;
  height: 30px;
  margin-left: 30%;
  transform: translateX(-50%);
  position: relative;
  padding-top: 20px;

}
#inputDate {
  border-radius: 5px;
  width: 20%;
  height: 20px;
  margin-left: 77%;
  transform: translateX(-70%);
  margin-top: -46px;
  position: relative;
  padding-top: 20px;

}
#clickSearch {
  border-radius: 7px;
  margin-top: 40px;
  width: 30%;
  height: 30px;
  transform: translateX(120%);
  margin-bottom: 30px;
}
#entryHolder {
  display: flex;
  flex-direction: column;
}
#weatherCurrentIcon {
  width: 200px;
}

.container {
  // display: grid;
  // grid-template-columns: auto auto auto auto;
  // grid-template-rows: 150px 150px 150px;
  // background-color: black;
  // justify-content: space-evenly;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  background-color: #2196f3;

  // grid-template-columns: auto auto auto;
  // grid-template-rows: -1px 30px 30px 30px;
  // background-color: black;
  // justify-content: space-evenly;
  // grid-gap: 10px;
}

.divSection {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.divSectionTemperature {
  background-color: white;
}
#iconFuture {
  width: 30px;
}
